.opportunities {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.opportunity {
  display: grid;
  grid-template-columns: 450px auto;
  grid-template-rows: 250px;
  grid-template-areas: "main others";
  position: relative;
}

.main-auction {
  display: flex;
  grid-area: main;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
  gap: 0.5em;
  width: 100%;
  background-color: #fff1;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 0.5em;
  border: 5px solid #fff5;
}

.others {
  grid-area: others;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px auto;
  grid-template-areas:
    "info"
    "other-auctions";
  box-sizing: border-box;
  padding: 1em;
  background-color: #ffffff0f;
  margin: 1em 0;
  border-radius: 0 .5em .5em 0;
  border-top: 2px solid #fff5;
  border-right: 2px solid #fff5;
  border-bottom: 2px solid #fff5;
}

.info {
  grid-area: info;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.other-auctions {
  grid-area: other-auctions;
  font-size: 0.75em;
  display: flex;
  overflow-x: scroll;
  gap: 1em;
  box-sizing: border-box;
  flex-direction: row;
}

.auction {
  display: flex;
  background-color: #fff1;
  box-sizing: border-box;
  padding: 2em 1em;
  border-radius: 0.75em;
  height: 100%;
  aspect-ratio: 5/4;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #fff5;
}

.item-name {
  color: var(--title-color);
  font-weight: bold;
  font-size: 1.25em;
}

.buy-price {
  font-weight: 700;
  color: #f99;
}

.sell-price {
  font-weight: 600;
  color: #9f9;
}

.profit {
  text-decoration: underline;
}

.SPECIAL {
  --title-color: darkred;
}

.MYTHIC {
  --title-color: pink;
}

.LEGENDARY {
  --title-color: yellow;
}

.EPIC {
  --title-color: purple;
}

.RARE {
  --title-color: blue;
}

.UNCOMMON {
  --title-color: green;
}

.COMMON {
  --title-color: white;
}
